<section class="phx-hero">
  <h1>Services</h1>
</section>

<table>
  <tr>
    <th>Service</th>
    <th>Last Checked</th>
    <th>Status</th>
  </tr>
  <%= Enum.map(@services, fn(service) -> %>
  <tr>
    <td><%= service[:name] %></td>
    <td><%= service[:last_checked] %></td>
    <td><%= service[:is_live] %></td>
  </tr>
  <% end) %>
</table>
